footer{
    font-size: small;
    color: gray;
}
.copyright{
    color: black;
    font-style: italic ;
}
h1{
    font-size: 4em ;
}
.main strong{
    color: red;
    font-size: large;
}
header strong{
    text-decoration: underline;
}

em + del{
    font-weight: bold;
}